.list1:hover {
    color:white;
    font-size: 0;
    background-size: cover;
    background-position: center;
    background-image: url(../image/flower1.jpg);
}
.list2:hover {
    color:white;
    font-size: 0;
    background-size: cover;
    background-position: center;
    background-image: url(../image/flower2.jpg);
}
.list3:hover {
    color:white;
    font-size: 0;
    background-size: cover;
    background-position: center;
    background-image: url(../image/flower3.jpg);
}
.list4:hover {
    color:white;
    font-size: 0;
    background-size: cover;
    background-position: center;
    background-image: url(../image/flower4.jpg);
}
.list5:hover {
    color:white;
    font-size: 0;
    background-size: cover;
    background-position: center;
    background-image: url(../image/flower5.jpg);
}
.image-list {
    list-style-type: none;
    display: flex;
    gap: 20px;           
}
.image-list li{
    width: 150px;
    height: 150px;
    background-color: #ddd;
    border-radius: 10px;
    text-align: center;
    font-size: 36px;
    cursor: pointer;
}