body {
  background-color: #1c1c1c;
  color: #f5f5f5;
}
.헤더 {
  background-color: #333;
  padding: 20px;
  text-align: center;
}
h1 {
  color: #ffa500;
  font-size: 40px;
}
.메인 {
  padding: 20px;
}
.인포메이션,
.갤러리,
.갤러리2 {
  background-color: #333;
  color: #f5f5f5;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 30px;

  /*입체적으로 보여주는 느낌
           box-shadow : A B C color;
            A: 왼쪽이나 오른쪽으로 얼만큼 이동할 것인가?
                0: 이동안함
                20px 오른쪽으록 20px 만큼 이동
                -20px 왼쪽으로 20px 만큼 이동
            B:위쪽이나 아래쪽으로 얼만큼 이동할 것인가?
                0 = 이동안함
                20px 아래쪽으록 20px 만큼 이동
                -20px 위쪽으로 20px 만큼 이동
            C : 얼만큼 흐리게(뿌옇게) 만들것인가?
            color : 그림자 효과의 색상을 지정
            
            색상 팁: # 영어로 시작 : 하얀색에서 시작
                    # 숫자로 시작 : 검정색에서 시작
                    rgba(0,0,0,0.1~0.9);
                    rgba(0,0,0, 불투명도)= 검정색 black
            */
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.4); /* 불투명도 40% */
}
ul {
  list-style: none;
}
ul li {
  padding: 10px 20px;
  transition: background-color 0.3s;
}
ul li:hover {
  background-color: #ddd;
  color: black;
}
.이미지 IMG {
  width: 150px;
  border-radius: 8px;
  border: 2px solid #444;
}
.이미지 img:hover {
  width: 200px;
}
.이미지, .이미지2 {
  text-align: center;
}
.이미지2 img {
  width: 150px;
  border-radius: 8px;
  border: 2px solid #444;
}
.이미지2 img:active {
  width: 300px;
  cursor: pointer;
}
.footer {
  text-align: center;
  padding: 20px;
  background-color: #444;
  color: #ffa500;
}
