body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    /*배경색 제거함*/
}

#result {
    font-size: 1.5em;
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    font-size: 1.2em;
    margin-top: 20px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #2980b9;
}

input {
    padding: 5px;
    font-size: 20px;
    margin: 20px;
    text-align: center;
}