.spring { 
    background-color:  lightpink;
  }
  .summer {
    background-color:  lightyellow;
  }
  .fall {
    background-color: sandybrown;
  }
  .winter {
    background-color:  lightblue;
  }
  .none{
    background-color: none;
  }